/* --bdazzled-blue: #3d5a80ff;
--pale-cerulean: #98c1d9ff;
--light-cyan: #e0fbfcff;
--burnt-sienna: #ee6c4dff;
--gunmetal: #293241ff; */
#html
{
    background-color: #98c1d9ff;
    text-align: center;
    box-sizing: fixed;
}
#header
{
    background-color: #ee6c4dff;
    font-size: 10vh;
}
/* A wise man once said...never rewrite your code. */
.dropbtn {
    background-color: #293241ff;
    color: #ee6c4dff;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown 
  {
    position: flex;
    display: inline-block;
    box-align: left;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}